.label {
    width: max-content;
    padding: 4px 16px;
    cursor: pointer;
    border-radius: 4px;
    background: linear-gradient(to top, #096dd9, #69c0ff);
    color: #fff;
    display: block;
    text-align: center;
}

.label:active {
    background: #096dd9;
}

.input {
    display: none;
}