.wrapperContent {
    margin: 24px;
    padding: 24px;
    background-color: #fff;
}

.wrapperParent {
    flex: auto;
    display: flex;
    text-align: center;
    align-content: stretch;
    flex-wrap: wrap;
}

.wrapperParent .wrapperContent {
    flex: auto;
}