.href {
    width: max-content;
    padding: 4px 16px;
    cursor: pointer;
    border-radius: 4px;
    background: linear-gradient(to top, #389e0d, #95de64);
    color: #fff;
    display: block;
    // width: 8%;
    text-align: center;
    text-decoration: none;
}

.href:active {
    background: #389e0d;
}